* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: rgb(0, 1, 77);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
}

.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a{
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

#header-home {
  font-size: 50px;
  color: lightblue;
  position: relative;
  
  top: 275px;
  
}

#desc-home {
  font-size: 25px;
  color: white;
  position: relative;
  top: 275px;
  
}

#header-home, #desc-home {
  left: 375px;
}

#img-home {
  width: 30%;
  position: relative;
  left: 800px;
}

#header-proj {
  font-size: 40px;
  color: white;
  position: relative;
  text-align: center;
}



.rectangle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  
}

#chat {
  position: relative;
  top: 25px;
}

.proj-img {
  width: 20%
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  color: white;
}

#header2 {
  position: relative;
  left: 15px;
}

#header3 {
  position: relative;
  left: 20px;
}

hr {
  width: 70%;
  margin: auto;
}

.contact-img {
  width: 30%;
  
}

.contact-container {
  position: relative;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 20%;
  margin: auto;
  color: white;
  left: 30px;
}

#icon {
  width: 6%;
  position: relative;
  right: 70px;
}